<!--ユーザー表示ビューにgravatarの画像と名前を表示する-->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="follow_form">
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
   <div class="col-md-8">
    <% if @user.microposts.any? %>
      <div>
      <h3 style="float: left;">投稿一覧 (<%= @user.microposts.count %>)</h3>
      
      <!--<検索機能>-->
      
      <div class="search-group" style="float: right; margin-top: 12px;">
      <%= form_tag(user_path, :method => 'get' ) do %>
        <input type="search" name="search" id="search" placeholder="キーワード"><input type="submit" name="" value="検索">
      <% end %>
      </div>
      </div>
      
      <!--<検索機能ここまで>-->
      
      <ol class="microposts" style="clear: both;">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>